.Container{
    background-color: #FDF6ED;
}
.AboutImage{
    position: absolute;
    display: block; 
    width: 80%;
    top: 25vw;
    left : 50vw;
    transform: translate(-50%, -50%);
}
.AboutText{ 
    position: absolute;
    width: 80%;
    display: block;
    top: 43vw;
    left : 50vw;
    transform: translate(-50%, -50%);
}