.Container{
    background-color: #FDF6ED;
}
.P-MenuAboutUs{
    position: absolute;
    top: 2vw;
    left : 45vw;
    font-family: 'Roboto Slab', serif;
    font-weight: 900;
    font-size: 2vw;
    color: #E57A44;
    cursor: pointer;

}
.AboutImage{

    display: block; 
    width: 80%;
    margin: auto;
}
.AboutText{ 
    width: 80%;
    display: block;
    padding-top: 2%;
    margin: auto; 
    padding-bottom: 3%; 
}