.ChatbotHead{
    border-style: none;
    border-radius: 1vw;
    position: absolute;
    display: block; 
    top: 51vw;
    font-family: 'Roboto Slab', serif;
    font-weight: 900;
    font-size: 3vw;
    color: #621708;
    padding-top: 1vw;
    padding-bottom: 1vw;
    left: 50%;
    transform: translate(-50%, -50%);
}
.ChatbotPage{
    background-color: #FFEED2;
    border-style: none;
    border-radius: 2vw;
    width: 70vw;
    height: 40vw;
    position: relative;
    display: block; 
    top: 76vw;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ChatbotInput{
    position: absolute;
    top: 90vw;
    left: 16vw;
    background-color: #E57A44;
    border-style: none;
    border-radius: 1vw;
    width: 48vw;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 2vw;
    color: #ffffff;
    padding-left: 2vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-right: 2vw;
}
.ChatbotInput::placeholder{
    color: #ffe5d9;
  }
.ChatbotSubmit{
    background: rgb(34,9,1);
    background: linear-gradient(270deg, rgba(34,9,1,1) 0%, rgba(98,23,8,1) 100%);   
    border-style: hidden;
    border-radius: 3vw;
    height: 5vw;
    width: 14vw;
    position: absolute;
    top: 90vw;
    left: 69vw;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 2.2vw;
    color: #ebebeb;  
}
.ChatbotSubmit:hover{
    background: rgb(121,28,0);
    background: linear-gradient(315deg, rgba(121,28,0,1) 0%, rgba(34,9,1,1) 100%);   
}
.ChatbotLoadingImage{
    width: 3.5%;
    position: absolute;
    display: block; 
    top: 82.5vw;
    left: 66vw;
    transform: translate(-50%, -50%);
}
.ChatListUser{

    list-style: none;
    position: absolute; 
    width: 62vw;
    height: 29vw;
    top: 71vw;
    left: 50vw;
    transform: translate(-50%, -50%);
    overflow-y:scroll;
}
.ChatUser1{
    background-color: #E57A44;
    display: block;
    border-style: none;
    border-radius: 1vw;
    position: absolute; 
    top: 30vw;
    left: 70%;
    width: 30vw;
    word-wrap:break-word;
    transform: translate(-50%, -50%);
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 2.2vw;
    color: #ffffff;
    text-align: center;
    margin-top: 1vw;
    margin-bottom: 1vw;
    padding-left: 1vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    padding-right: 1vw;
}
.ChatBot1{
    background-color: #E57A44;
    display: block;
    border-style: none;
    border-radius: 1vw;
    position: relative; 
    top: 40vw;
    left: 27%;
    width: 30vw;
    word-wrap:break-word;
    transform: translate(-50%, -50%);
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 3vw;
    color: #ffffff;
    text-align: center;
    margin-top: 1vw;
    margin-bottom: 5vw;
    padding-left: 1vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    padding-right: 1vw;
}
.ChatUser2{
    background-color: #E57A44;
    display: block;
    border-style: none;
    border-radius: 1vw;
    position: absolute; 
    top: 50vw;
    left: 70%;
    width: 30vw;
    word-wrap:break-word;
    transform: translate(-50%, -50%);
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 2.2vw;
    color: #ffffff;
    text-align: center;
    margin-top: 1vw;
    margin-bottom: 1vw;
    padding-left: 1vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    padding-right: 1vw;
}
.ChatBot2{
    background-color: #E57A44;
    display: block;
    border-style: none;
    border-radius: 1vw;
    position: relative; 
    top: 60vw;
    left: 20%;
    width: 30vw;
    word-wrap:break-word;
    transform: translate(-50%, -50%);
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 3vw;
    color: #ffffff;
    text-align: center;
    margin-top: 1vw;
    margin-bottom: 5vw;
    padding-left: 1vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    padding-right: 1vw;
}