.Container{
    background-color: #FDF6ED;
}
.ContactPage{
    position: absolute;
    display: block; 
    width: 70%;
    margin: auto;
    top: 30vw;
    left : 50vw;
    transform: translate(-50%, -50%);
    padding-bottom: 2vw;
}