.Container{
    background-color: #FDF6ED;
}
.P-MenuContact{
    position: absolute;
    top: 2vw;
    left : 63vw;
    font-family: 'Roboto Slab', serif;
    font-weight: 900;
    font-size: 2vw;
    color: #E57A44;
    cursor: pointer;
} 
.ContactPage{
    padding-top: 2%;
    display: block; 
    width: 80%;
    margin: auto;
    padding-bottom: 2%;
}