.Container{
    background-color: #FDF6ED;
}
.DetectBG{
    display: block; 
    width: 70%;
    margin: auto;
}
.DetectImage{
    position: absolute;
    display: block; 
    width: 20%;
    top: 28vw;
    left: 50%;
    transform: translate(-50%, -50%);
}
.DetectButton_U{
    position: absolute;
    display: block; 
    width: 20%;
    top: 39vw;
    left : 25vw;
}
.DetectButton_N{
    position: absolute;
    display: block; 
    width: 20%;
    top: 39vw;
    right : 25vw;
}
.ImagePreview{
    height: 16vw;
    position: absolute;
    display: block; 
    top: 28vw;
    left: 50%;
    transform: translate(-50%, -50%);
}