.Footer{
    clear: both;
    position: relative;
    height: 3.5vw;
    margin-top: -3.5vw;
    padding: 0.5vw 2vw 1.5vw;
    border-top: #193E4C;
    border-width: 0.3vw 0 0 0;
    border-style: dashed;
    text-align: justify;
}
.Footer h1{
    font-family: 'Pridi', serif;
    font-weight: 300;
    font-size: 1vw;
    color: #f39600;
    text-align: left;
    margin-bottom: 0vw;
}
.Footer div{
    display: inline;
    font-family: 'Pridi', serif;
    font-weight: 300;
    font-size: 1vw;
    color: #f39600;
    text-align: left;
    margin-left: 3vw;
}
.Footer a{
    color: #193E4C;
}
.Footer p{
    display: inline;
    font-family: 'Pridi', serif;
    font-weight: 300;
    font-size: 1vw;
    color: #f39600;
    text-align: left;
    padding-left: 3vw;
}
@media only screen and (max-width: 1024px) {
    .Footer{
        clear: both;
        position: relative;
        height: 3.5vw;
        margin-top: -3.5vw;
        padding: 0.5vw 2vw 15vw 2vw;
        border-top: #193E4C;
        border-width: 0.3vw 0 0 0;
        border-style: dashed;
        text-align: justify;
    }
    .Footer h1{
        font-family: 'Pridi', serif;
        font-weight: 300;
        font-size: 3vw;
        color: #f39600;
        text-align: left;
    }
    .Footer div{
        display: inline;
        font-family: 'Pridi', serif;
        font-weight: 300;
        font-size: 2vw;
        color: #f39600;
        text-align: left;
        padding-left: 2vw;
    }
    .Footer a{
        color: #193E4C;
    }
    .Footer p{
        display: inline;
        font-family: 'Pridi', serif;
        font-weight: 300;
        font-size: 2vw;
        color: #f39600;
        text-align: left;
        padding-left: 5vw;
    }   
}
@media only screen and (max-width: 420px) {
    .Footer{
        clear: both;
        position: relative;
        height: auto;
        margin-top: 0vw;
        padding: 0;
        border-top: #37515a;
        border-width: 0 0 0 0;
        border-style: dashed;
    }
    .Footer-HD{
        position: absolute;
        bottom: 0;
        height: auto;
        padding: 0.5vw 5vw 3vw 5vw;
        border-top: #37515a;
        border-width: 0.3vw  0 0 0;
        border-style: dashed;
    }

    .Footer-V{
        position: relative;
        height: auto;
        padding: 0.5vw 5vw 3vw 5vw;
        border-top: #37515a;
        border-width: 0.3vw  0 0 0;
        border-style: dashed;
    }
    .Footer-Ch{
        position: relative;
        height: auto;
        padding: 0.5vw 5vw 3vw 5vw;
        border-top: #37515a;
        border-width: 0.3vw  0 0 0;
        border-style: dashed;
    }
    .Footer h1{
        font-family: 'Pridi', serif;
        font-weight: 300;
        font-size: 2vw;
        color: #f39600;
        text-align: left;
    }
    .Footer div{
        display: inline;
        font-family: 'Pridi', serif;
        font-weight: 300;
        font-size: 1.5vw;
        color: #f39600;
        text-align: left;
        padding-left: 2vw;
    }
    .Footer a{
        color: #193E4C;
    }
    .Footer p{
        display: inline;
        font-family: 'Pridi', serif;
        font-weight: 300;
        font-size: 1.5vw;
        color: #f39600;
        text-align: left;
        padding-left: 5vw;
    }   
}