.MenuImage{
    position: absolute;
    width: 20vw;
    top: 1vw;
    left: 1vw;

}
.MenuBar{
    background-color: #f2cc8f;
    position: absolute;
    width: 95vw;
    height: 4.5vw;
    top: 1vw;
    right: 0vw;
    border-top-left-radius: 2vw;
}
p{
    font-family: 'Pridi', serif;
    font-weight: 700;
    font-size: 1.8vw;
}
.MenuHome{
    position: relative;
    display: inline-block;
    margin-left: 62.8vw;
    color: #621708;
    cursor: pointer;
}
.MenuHome:hover{
    text-decoration: underline;
}
.P-MenuHome{
    position: relative;
    display: inline-block;
    margin-left: 62.8vw;
    color: #E57A44;
    cursor: default;
}
.MenuAboutUs{
    position: relative;
    display: inline-block;
    padding-left: 5vw;
    color: #621708;
    cursor: pointer;
}
.MenuAboutUs:hover{
    text-decoration: underline;
}
.P-MenuAboutUs{
    position: relative;
    display: inline-block;
    padding-left: 5vw;
    color: #E57A44;
    cursor: default;
}
.MenuContact{
    position: relative;
    display: inline-block;
    padding-left: 5vw;
    color: #621708;
    cursor: pointer;
} 
.MenuContact:hover{
    text-decoration: underline;
}
.P-MenuContact{
    position: relative;
    display: inline-block;
    padding-left: 5vw;
    color: #E57A44;
    cursor: default;   
}  
@media only screen and (max-width: 768px) {
    .MenuImage{width: 30vw;}
    .MenuBar{height: 7vw;}
    p{
        font-size: 2.5vw;
    }
    .MenuHome,.P-MenuHome{
        margin-left: 55vw;
    }
}
